body{
background-color: white;
}


.chat-container{
width:80%;
height:90vh;
margin:20px auto;
background-color: white;
border:2px solid green;
display:flex;
flex-direction:column;
}


.header{
background-color: green;
color:white;
padding:15px;
font-size:28px;
font-weight:bold;
}


.date{
text-align:center;
color:darkgray;
padding:10px;
border-bottom:1px solid grey;
}

chat-area
{

padding:20px;
}


.msg{
width:60%;
padding:10px 15px;
margin-bottom:15px;
border:10px;
}


.time{
display:block;
font-size:12px;
color:darkgrey;
margin:5px;
}
left
{
background:lightgray;
float:left;
clear:both;
}


.right{
background:white;
float:right;
clear:both;
text-align:right;
}


.footer{
padding:10px;
border-top:1px solid white;
text-align:right;
color:grey;
}