.box{
    height: 280px;
    width:400px;
    color:beige;
    background-color: black;
    border-width: 4px;
    border-style: solid;;
    border-color: darkred;
    padding:15px;
    margin:15px;
    float:left;
}
.b1{
    float:right;
}