.box{
    height: 350px;
    width:600px;
    color:beige;
    background-color: black;
    border-width: 4px;
    border-style: solid;;
    border-color: darkred;
    padding:15px;
    margin:15px;
    float:left;
    font-size: 22px;
}
.b1{
    float:right;
}