.main{
    display: grid;

    /* grid-auto-flow: column; */
    grid-template-columns: 150px auto 200px auto;
    grid-template-rows: 60px auto auto;
    background-color: black;
    gap:15px;
}

.main > div{
    background-color: beige;
    margin:15px;
}
.b1{
    grid-area: 2 / 2 / span 2 / span 2;
    /* grid-column-start: 2;
    grid-column-end: span 2; */
}
.b2{
    /* grid-row-end: span 2; */
    grid-column: 1 / span 2;
}