.d1{
    /* color: black;
    background-color: blanchedalmond; */
    height: 400px;
    width:600px;
    /* background-image: url(image1.jpg);
    border: 20px solid violet; */
    /* center  */
    background-position: center;
    /* no repeat repeat repeat-x repeat-y */
    background-repeat: no-repeat;
     /*auto contain cover  */
    background-size: cover;
    background: #3F5EFB;
    background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 43%);

}
.b1{
    height: 100px;
    width:150px;
    background: #2A7B9B;
    background: radial-gradient(circle, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
}