h4{
    height:150px;
    width:300px;
    color:brown;
    background-color: lightgray;
    border-style: solid;
    padding:20px;
    margin:10px;
    float:left;
}
.box{
    height:150px;
    width:300px;
    color:floralwhite;
    background-color:darksalmon;
    font-size:20px;
    border-style:solid;
    border-color: black;
    border-width: 3px;
    padding:20px;
    margin:10px;
    float:left;
    

}
#id{
    height:150px ;
    width: 300px;
    color:aliceblue;
    background-color: teal;
    border-style: solid;
    border-color: darkorange;
    border-width: 3px;
    padding:20px;
    margin:10px;
    float:left;
    

}
.b1{
    height:150px;
    width:300px;
    color:darkred;
    background-color:cornflowerblue;
    border-style: solid;
    border-color:black;
    padding:20px;
    margin:10px;
    float:left;



}



