h3{
            color:beige;
            background-color: dimgrey;
            font-size: 50px;
        }
        #demo{
            color:aliceblue;
            background-color: teal;
            font-size: 40px;
            height: 200px;
            width: 200px;

        }
        .box{
            color: darkgray;
            background-color: black;
            height:400px;
            width:500px;
            font-size: 40px;
        }