chat-container{
width:80%;
height:90vh;
margin:20px auto;
background:#fff;
border:2px solid #4caf50;
display:flex;
flex-direction:column;
}









header{
background:#0b7d0b;
color:#fff;
padding:15px;
font-size:28px;
font-weight:bold;
}



.date{
text-align:center;
color:#777;
padding:10px;
border-bottom:1px solid #ccc;
}






.time{
display:block;
font-size:12px;
color:#555;
margin-top:5px;
}



.left{
background:#e0e0e0;
float:left;
clear:both;
}



.right{
background:#d9ffd9;
float:right;
clear:both;
text-align:right;
}


.footer{
padding:10px;
border-top:1px solid #ccc;
text-align:right;
color:#555;
}