.box{
    height: 100px;
    width: 150px;
    background-color: burlywood;
    border:2px solid black;
    transition: all 2s linear 3s;
    /* transition: width 2s,height 4s,background-color 3s; */

}
.box:hover{
    height: 200px;
    width:200px;
    background-color: brown;
    /* transform:scale(2,3); */
    /* transform: scalex(2); */
    /* transform: scale(3); *
    /* transform:rotate(120deg); */
    /* transform:translate(70px,100px); */
    /* transform:skew(10deg); */

}